<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вирусстор - каталог</title>
</head>
<body>
<div id="top-menu">
    <ul>
        <li>
            <a href="/">Главная</a>
            <a href="/catalog/">Каталог</a>
            <a href="/contacts/">Контакты</a>
        </li>
    </ul>
</div>
<div id="back-link"><a href="javascript:history.back()">Назад</a></div>
<div id="content">
    <div id="product-count">4 вируса:</div>
    <div id="products">
        <ul>
            <li>
                <div class="product" id="product_1">
                    <div class="product-link"><a href="/catalog/product_1">COVID</a></div>
                </div>
            </li>
                        <li>
                <div class="product" id="product_2">
                    <div class="product-link"><a href="/catalog/product_2">H1N1</a></div>
                </div>
            </li>
                        <li>
                <div class="product" id="product_3">
                    <div class="product-link"><a href="/catalog/product_3">SARS</a></div>
                </div>
            </li>
                        <li>
                <div class="product" id="product_4">
                    <div class="product-link"><a href="/catalog/product_4">PLUGUE</a></div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>
