<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вирусстор - COVID</title>
</head>
<body>
<div id="top-menu">
    <ul>
        <li>
            <a href="/">Главная</a>
            <a href="/catalog/">Каталог</a>
            <a href="/contacts/">Контакты</a>
        </li>
    </ul>
</div>
<div id="back-link"><a href="javascript:history.back()">Назад</a></div>
<div id="content">
    <div id="product">
        <div class="product-id">1</div>
        <div class="product-name">COVID</div>
        <div class="product-price">1 000 руб.</div>
        <div class="product-available-count">10 шт <span style="color:green;">в наличии</span></div>
    </div>
</div>
</body>
</html>
