<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Экскурстор - каталог</title>
</head>
<body>
<div id="top-menu">
    <ul>
        <li>
            <a href="/">Главная</a>
            <a href="/catalog/">Каталог</a>
            <a href="/contacts/">Контакты</a>
        </li>
    </ul>
</div>
<div id="back-link"><a href="javascript:history.back()">Назад</a></div>
<div id="content">
    <div id="store-count">{{stores|count}} магазинов:</div>
    <div id="stores">
    <ul>
    {% for store in stores %}
    <li><a href="{{ store.url }}">{{ store.name }}</a></li>
    {% endfor %}
    </ul>

    </div>
</div>
</body>
</html>
