<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Вирусстор - {{store.name}}</title>
</head>
<body>
<div id="top-menu">
    <ul>
        <li>
            <a href="/">Главная</a>
            <a href="/catalog/">Каталог</a>
            <a href="/contacts/">Контакты</a>
        </li>
    </ul>
</div>
<div id="back-link"><a href="javascript:history.back()">Назад</a></div>
<div id="content">
    <div id="product">
        <div class="product-id">{{store.id}}</div>
        <div class="product-name">{{store.name}}</div>
        <div class="product-price">{{store.address}}</div>
        <div class="product-description">{{store.description}}</div>
        <div class="product-available-count">часы работы <span style="color:green;">10.00 - 20.00</span></div>
    </div>
</div>
</body>
</html>
